<section>

  <div class="text-center">

    <div class="jumbotron">
      <h1>Custom Field Service Apps</h1>
      <h2><small>software tools to help service businesses scale</small></h2>
    </div>

    <h2>Does your service business have specfic needs that standard systems can't accomodate? </h2>
    <h3>Let us build the right tool for the right job.</h3>

    <hr />

    <div class="panel panel-primary">
      <div class="panel-heading ">
        <h3>Commonly Requested Features</h3>
      </div>
      <ul class="panel-body list-group">
        <li class="list-group-item h4">Capture Signatures for Work Orders</li>
        <li class="list-group-item h4">Upload/Crop Images and Tie to Assets</li>
        <li class="list-group-item h4">Send SMS & In-app notifications</li>
        <li class="list-group-item h4">Search Nearest Clients to Location</li>
        <li class="list-group-item h4">Query and Merge Data from Multiple Sources</li>
        <li class="list-group-item h4">Create Wizards for Unique Data Collection & Validation</li>
      </ul>
    </div>



    <%= link_to 'EXPLORE',customers_path, class: 'btn btn-lg btn-success explore-btn' %>
  </div>
</section>
