<section>

  <div class="text-center">

    <h2>Welcome to Shine, our demo Customer Management App.</h2>
    <h2>If you run a service business you know how essential it is to be able to access and modify your customer data as fast as possible.</h2>
    <h2>This demo app shows features that can be custom built for your business. Imgaine what is possible...</h2>
    <!--<h2>We're using Rails <%= Rails.version %></h2>-->

    <%= link_to 'Explore Customers',customers_path, class: 'btn btn-primary' %>

    <input type="file" accept="image/*" capture="camera" />
  </div>
</section>
