<div class="container">
  <h2>Capture Signatures</h2>
  <div class="panel panel-default">
    <div class="panel panel-heading">Draw Below</div>
    <div class="panel-body">
      <canvas height="500" width="500"></canvas>
    </div>
    <div class="panel-footer">
      <div class="btn btn-primary" id="clearSig">CLEAR SIGNATURE</div>
    </div>
  </div>

</div>