.input-group-lg{
    width: 100%;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    padding: 15px 30px;
    color: white;
    background-color: #8c8c8c;
    display: inline-block;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
    pointer-events: none;
}
img[src=""] {
    display: none;
}

.form-submit-btn{
    margin-bottom: 30px !important;
}

.spinner{
    text-align: center;
    margin-top: 30px;
}