/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    border-radius: 0 !important;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 100% !important;
}

.logo-container{
    padding: 20px;
    width: 100%;
    background-color: black;

}

.spin{
    animation: rotation 7s infinite linear;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

footer{
    background-color:#222222;
    padding: 60px 0px;
}

footer .menu li a{
    color:#b1aca1;
    padding:10px;
    text-decoration:none;
}

footer .menu li a:hover{
    color:#7dabdb;
}

.fa.fa-facebook , .fa.fa-dropbox, .fa.fa-flickr , .fa.fa-github , .fa.fa-linkedin ,.fa,fa-tumblr ,.fa.fa-google-plus , .fa.fa-tumblr {
    color:#b1aca1;
    font-size:20px;
    padding:10px;
}

.main {
    min-height: 100vh;
}

.explore-btn {
    margin-bottom: 20px !important;
}